@import "~@fluentui/react/dist/sass/References.scss";

.navMenuCentralAxity {
  overflow: hidden;
  color: #ffff;
  font-weight: 700;
  font-family: "Vita";
  background: #3c1053;
}
.item_Menu {
  padding: 10px;
  border-right: 1px solid black;
}
